<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="#">Fundación Forge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cursos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">curso&nbsp;1</a>
                <a class="dropdown-item" href="#">curso&nbsp;2</a>
                <a class="dropdown-item" href="#">curso&nbsp;3</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">log out</button>
          </form>
    </div>
</nav>
<tr></tr>
<table class="table table-bordered" >
  <thead>
    <tr>
      <th scope="col">Calificaciones alumnos</th>
      <th scope="col">nota1</th>
      <th scope="col">nota2</th>
      <th scope="col">nota3</th>
      <th scope="col">nota4</th>
      <th scope="col">control1</th>
      <th scope="col">control2</th>
      <th scope="col">control3</th>
      <th scope="col">control4</th>
      <th scope="col">Ponderacion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Materia1</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Materia2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Materia3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Materia4</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>      
    </tr>
    <tr>
      <th scope="row">Materia5</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>      
    </tr>
    <tr>      
      
    </tr>   
  </tbody>
</table>
<tr></tr>
<form>
  <div class="col">
  <div class="col">
      <input type="text"class="form-control" placeholder=" nombre">
      <input type="text" class="form-control" placeholder="apellido">
  </div>    
  </div>
 <div class="col">
 <div class="col">
      <input type="text" class="form-control" placeholder="materia">        
 </div>   
  </div>
</form>
<button type="button" class="btn btn-light">buscar</button>
<p class="text-center">Ponderacion</p>
<button type="button" class="btn btn-primary">edith</button>
  