<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Simulacro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">curso&nbsp;1</a>
            <a class="dropdown-item" href="#">curso&nbsp;2</a>
            <a class="dropdown-item" href="#">curso&nbsp;3</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="http://localhost:4200/home">
        <button class="btn btn-outline-success " type="button">Log out</button>
        </a>
      </form>
    </div>
  </nav>
  <div class="col-1"></div>
  <button id="btn1" type="button" class="btn btn-outline-primary " data-toggle="button" aria-pressed="false">
      +Agregar Curso
    </button>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Curso #1
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          * Materias:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Calculo 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Curso #2
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            * Materias:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Contabilidad 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Curso #3
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            * Materias:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Geometria 
        </div>
      </div>
    </div>
  </div>
  <button id="btn3" type="button" class="btn btn-outline-success" data-toggle="button" aria-pressed="false">
      +Añadir prueba
  </button>
  <button id="btn4" type="button" class="btn btn-outline-success" data-toggle="button" aria-pressed="false">
      +Añadir Control
  </button>
   <div id="tbl1" class="col-5"></div>
  <div class="table-bordered">
    <table class="table">
      <tr>
        <th scope="col">Rut</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Prueba (1)</th>
        <th scope="col">prueba (2)</th>
        <th scope="col">prueba (3)</th>
        <th scope="col">Prueba (4)</th>
        <th scope="col">Control (1)</th>
        <th scope="col">Control (2)</th>
        <th scope="col">Control (3)</th>
        <th scope="col">Control (4)</th>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mark</td>
        <td>Otto</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <button id="btn2" type="button" class="btn btn-outline-success" data-toggle="button" aria-pressed="false">
      +Agregar Estudiante
  </button>